/*     Paleta de cores:
        #1B2727
        #3C5148
        #6B8E4E
        #B2C5B2
        #D5DDDF

        Fontes:
        font-family: 'Varela Round', sans-serif;
        font-family: 'Poiret One', cursive;
        font-family: 'Saira Condensed', sans-serif;
        font-family: 'Glegoo', serif;
        font-family: 'Montserrat Alternates', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    /* background-color: #B2C5B2; */
}

/* ---------------------Cabeçalho--------------------- */


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2vh;
    border-bottom: solid;
    border-color: #083d22;
    line-height: 0;
    font-family: 'Glegoo', serif;
}

.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.cabeçalho span{
    font-size: medium;
}

.cabeçalho a, header p{
    text-decoration: none;
    color: #083d22;
    padding: 0 2vh;
}
header p{
    font-size: 1.3rem;
}
.cabeçalho a:hover{
    color: #0a0f53;
    background-color: #66917a54;
    border-radius: 2vh;
    padding: 0 2vh;
}


/* ---------------------Informações do professor---------------------- */


main{
    /*background-color: #66917a54;*/
    background-color: #b8e9867c; 
    text-align: justify;

    height: 20%;
    margin-bottom: 20vh;
}

main p{
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
main h1{
    color: #3f683a;
    font-family: 'Montserrat Alternates', sans-serif;
}

#info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin:  0 5vh;

}
#info h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10vh;
}
#info img{
    width: 60vh;
    height: 80vh;
    border-radius: 2vh;
    margin: 5vh;
}
#info p{
    margin-bottom: 25%;
}


/* --------------------Formação------------------- */


#formação > h2{
    text-align: center;
    font-size: 2.2rem;
    color: #083d22;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 5vh;
    padding: 2vh;
}

#formação{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40vh;
}
#universidade {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
#universidade > div{
    margin: 0 10px;
}
#universidade > div img{
    width: 30vh;
    height: 30vh;
}
#universidade > div p{
    margin-bottom: 30px;
}


/* -------------------Projetos--------------------- */


#projetos{
    /* background-color: #3f683a38;*/
    margin-top: -20vh;
    margin-bottom: 300px;
    height: 50vh;
}
#projetos > h2{
    text-align: center;
    color: #083d22;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 10vh;
}

#conteúdo{
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vh;
}
#conteúdo div{
    width: 380px;
    height: 390px;
    background-color: #1ae47c5d;
    /* background-color: #1ae47c38; */
    border-radius: 10%;
}
#conteúdo img{
    margin-top: 7vh;
    margin-bottom: 5vh;
}

#conteúdo > div p{
    font-size: 1.2rem;
    margin-bottom: 10vh;
}
#conteúdo > div h3{
    font-size: 1.2rem;
    font-family: 'Montserrat Alternates', sans-serif;
}
/*


/* --------------------Materiais-------------------- */


#materiais h2{
    text-align: center;
    color: #083d22;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 10vh;
    
}

#apoio{
    /* background-color: #0a0f5380; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 20vh;
    
}
#apoio div{
    width: 380px;
    height: 390px;
    padding: 10px;
    margin: 0 auto;
    background-color: #1ae47c38;
    border-radius: 10%;
    margin-bottom: 10vh;
}
#apoio > div img {
    margin-top: 10vh;
    margin-bottom: 2vh;
}
#apoio > div h3{
    font-size: 1.2rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

#apoio > div p{
    font-size: 1.2rem;
    margin-bottom: 10vh;
}


/* ------------------Footer/Contato--------------------- */


footer{
    border-top: #083d22 solid 4px;
    width: 95%;
    margin: auto;
    margin-bottom: 5vh;
}
footer h3{
    font-size: 1.2rem;
    color: #083d22;
    font-family: 'Montserrat Alternates', sans-serif;
}
footer div{
    display: flex;
    align-items: center;
    margin-left: 1vh;
    gap: 2vh;
}
footer > div a{
    color: #083d22;
    font-size: 1.2rem;
    padding: 5vh 5vh 5vh 0;
}


/* ---------------------Botões--------------------- */


.button{
    font-size: 1.2rem;
    padding: 12px 60px;
    margin-top: 10px;
    text-decoration: none;
    color: #0a0f53;
    transition: 0.5s ease;
    border-radius: 30px;
    background-color: #3f683a65;
}
.button:hover{
    background-color: #083d226e;
    box-shadow: 0 0 15px #083d22ad;
}


/* -------------------Responsividade-------------------- */


@media screen and (min-width: 480px) and (max-width: 640px) {
    /* -------------------Informações--------------------*/
    #info{
        flex-wrap: wrap;
    }
    #info > div p{
        text-align: justify;
    }

    /* --------------------Formação-------------------*/
    #universidade{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 40px;
    }
    #universidade div{
        margin-bottom: 50px;
    }
    /* -------------------Projetos---------------------*/

    #projetos{
        height: fit-content;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    #conteúdo{
        display: block;
        margin-bottom: 20vh;
        margin: 0 auto;
    }
    #conteúdo div{
        margin: auto;
        margin-bottom: 10vh;
        padding: 1vh;
    }
    #conteúdo div:last-child{
        margin-bottom: 30vh;
    }
    #conteúdo > div a{
        margin-top: 5vh;
    }
    /* ---------------------Materiais---------------------*/
    #materiais{
        margin-top: 240px;
    }
    #apoio > div{
        margin: 0 auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
    /* --------------------Informações--------------------- */
    main{
        width: fit-content;
    }
    #info{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #info p{
        text-align: justify;
    }
    #info > div img{
        margin-top: -20vh;
        height: 80vh;
        width: 60vh;
    }

    /* -----------------------Formação-------------------- */
    #formação{
        width: 60%;
    }
    #universidade{
        display: flex;
        flex-direction: column;
    }
    #universidade > div{
        margin-top: 40px;
    }
    #universidade > div p{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    /* ---------------------Projetos----------------------*/
    
    #projetos{
        flex-wrap: wrap;
    }
}