@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');


body{
    margin: 0;
    padding: 0;
    /* background-color: #B2C5B2; */
}

/* ---------------------Cabeçalho--------------------- */


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2vh;
    border-bottom: solid;
    border-color: #083d22;
    line-height: 0;
    font-family: 'Glegoo', serif;
}
.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.cabeçalho span{
    font-size: medium;
}

.cabeçalho a{
    text-decoration: none;
    color: #083d22;
    padding: 0 2vh;
}
.cabeçalho  a:hover{
    color: #0a0f53;
    background-color: #66917a54;
    border-radius: 2vh;
    padding: 0 2vh;
}
.retorno{
    text-decoration: none;
    font-size: 1.3rem;
    color: #083d22;
    padding: 0 2vh;
}
.retorno:hover{
    color: #0a0f53;
    background-color: #66917a54;
    border-radius: 2vh;
    padding: 3vh 2vh;
}

